@model MainLayoutViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eCommerce.CustomerSite</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/animate.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fontawesome-stars.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/helper.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/magnific-popup.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/material-design-iconic-font.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/meanmenu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nice-select.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/slick.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/venobox.css" asp-append-version="true" />

</head>

<body>
    <header>
                
        <partial name="_LoginPartial"/>
        <partial name="_LayoutHeader"/>

        <!-- Header Top Area End Here -->
        <!-- Begin Header Middle Area -->
        
        <!-- Header Middle Area End Here -->
        <!-- Begin Header Bottom Area -->
        <div class="header-bottom header-sticky d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Begin Header Bottom Menu Area -->
                        <div class="hb-menu hb-menu-2 d-xl-block">
                            <nav>
                                <ul>
                                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li><a asp-area="" asp-page="/Products/Index">Products</a></li>
                                    <li class="megamenu-static-holder"><a href="index.html">Brands</a>
                                        <ul class="megamenu hb-megamenu">
                                            @{
                                                int i=1;
                                            }
                                            @foreach (var item in @Model.Brands)
                                            {
                                                int j=1;
                                                 <li>
                                                    <ul>
                                                        @foreach (var item2 in @Model.Brands)
                                                        {
                                                            if(i%6==0&&i!=0) {
                                                                i++;
                                                                break;
                                                            }
                                                            if(j<i) {
                                                                j++;
                                                                continue;
                                                            }
                                                            else{
                                                                <li><a href="#">@item2.Name</a></li>
                                                                i++;
                                                                j++;
                                                            }
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">About Us</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <!-- Begin Header Bottom Menu Information Area -->
                                    <li class="hb-info f-right p-0 d-sm-none d-lg-block">
                                        <span>6688 London, Greater London BAS 23JK, UK</span>
                                    </li>
                                    <!-- Header Bottom Menu Information Area End Here -->
                                </ul>
                            </nav>
                        </div>
                        <!-- Header Bottom Menu Area End Here -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Bottom Area End Here -->
        <!-- Begin Mobile Menu Area -->
        <div class="mobile-menu-area d-lg-none d-xl-none col-12">
            <div class="container"> 
                <div class="row">
                    <div class="mobile-menu">
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu Area End Here -->
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Start Footer Area -->
    <partial name="_LayoutFooter"/>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/popper.min.js" asp-append-version="true"></script>
    <script src="~/js/ajax-mail.js" asp-append-version="true"></script>
    <script src="~/js/jquery.meanmenu.min.js" asp-append-version="true"></script>
    <script src="~/js/wow.min.js" asp-append-version="true"></script>
    <script src="~/js/slick.min.js" asp-append-version="true"></script>
    <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
    <script src="~/js/isotope.pkgd.min.js" asp-append-version="true"></script>
    <script src="~/js/imagesloaded.pkgd.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.mixitup.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.countdown.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.counterup.min.js" asp-append-version="true"></script>
    <script src="~/js/waypoints.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.barrating.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-ui.min.js" asp-append-version="true"></script>
    <script src="~/js/venobox.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.nice-select.min.js" asp-append-version="true"></script>
    <script src="~/js/scrollUp.min.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>

    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true" defer></script>
    </environment>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
