@page
@model eCommerce.CustomerSite.Pages.Brands.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Brands";
}

<h2>Brands</h2>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: 
            <input type="text" name="SearchString" value="@Model.Brands.Search" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="id"
                   asp-route-currentFilter="@Model.Brands.Search">
                    @Html.DisplayNameFor(model => model.Brands.Items.FirstOrDefault().Id)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brands.Items.FirstOrDefault().Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Brands.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> 
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Brands.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Brands.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.Brands.SortOrder"
   asp-route-pageIndex="@(Model.Brands.Page - 1)"
   asp-route-currentFilter="@Model.Brands.Search"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.Brands.SortOrder"
   asp-route-pageIndex="@(Model.Brands.Page + 1)"
   asp-route-currentFilter="@Model.Brands.Search"
   class="btn btn-primary @nextDisabled">
    Next
</a>
