@model eCommerce.CustomerSite.Models.HomeVm;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Home Page";
}

	<partial name="index_slider_partialview"/>
	
	<!-- Li's Special Product Area End Here -->
	<!-- Begin Li's Laptops Product | Home V2 Area -->
	<section class="product-area li-laptop-product li-laptop-product-2 pb-45">
		<div class="container">
			<div class="row">
				<!-- Begin Li's Section Area -->
				
				<div class="col-lg-12">
					<div class="li-section-title">
						<h2>
							<span>Feature Products</span>
						</h2>
						<ul class="li-sub-category-list">
							<li class="active"><a href="shop-left-sidebar.html">Prime Video</a></li>
							<li><a href="shop-left-sidebar.html">Computers</a></li>
							<li><a href="shop-left-sidebar.html">Electronics</a></li>
						</ul>
					</div>
					<div class="li-banner-2 pt-15">
						<div class="row">
							<!-- Begin Single Banner Area -->
							<div class="col-lg-6 col-md-6">
								<div class="single-banner">
									<a href="#">
										<img src="images/banner/2_1.jpg" alt="Li's Static Banner">
									</a>
								</div>
							</div>
							<!-- Single Banner Area End Here -->
							<!-- Begin Single Banner Area -->
							<div class="col-lg-6 col-md-6">
								<div class="single-banner pt-xs-30">
									<a href="#">
										<img src="images/banner/2_2.jpg" alt="Li's Static Banner">
									</a>
								</div>
							</div>
							<!-- Single Banner Area End Here -->
						</div>
					</div>
					<div class="row">
						<div class="product-active owl-carousel">
							@foreach (var item in @Model.FeaturedProducts)
							{
								<div class="col-lg-12">
								<!-- single-product-wrap start -->
								<div class="single-product-wrap">
									<div class="product-image">
										<a asp-page="/Products/Detail" asp-route-id="@item.Id">
											<img src="@item.Images" alt="Li's Product Image">
										</a>
										<span class="sticker">New</span>
									</div>
									<div class="product_desc">
										<div class="product_desc_info">
											<div class="product-review">
												<h5 class="manufacturer">
													<a asp-area="" asp-page="/Products/Index" asp-route-CategoryId="@item.Category.Id">@item.Category.Name</a>
												</h5>
												<div class="rating-box">
													<ul class="rating">
														@for (int i = 0; i < @item.AverageRating; i++)
														{
															<li><i class="fa fa-star" aria-hidden="true" style="color:#FFD700"></i></li>
														}
														@for (int i = 5 - @item.AverageRating; i > 0; i--)
														{
															<li><i class="fa fa-star-o" aria-hidden="true" style="color:#FFD700"></i></li>
														}
													</ul>
												</div>
											</div>
											<h4><a class="product_name" asp-page="/Products/Detail" asp-route-id="@item.Id">@Html.DisplayFor(x=>@item.Name)</a></h4>
											<div class="price-box">
												<span class="new-price">@Html.DisplayFor(x=>@item.Price)</span>
											</div>
										</div>
										<div class="add-actions">
											<ul class="add-actions-link">
												<li class="add-cart active"><a href="#">Add to cart</a></li>
												<li><a class="links-details" href="wishlist.html"><i class="fa fa-heart-o"></i></a></li>
												<li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- single-product-wrap end -->
							</div>
							}
						</div>
					</div>
				</div>
				<!-- Li's Section Area End Here -->
			</div>
		</div>
	</section>
	<!-- Li's Laptops Product | Home V2 Area End Here -->
	<!-- Begin Li's TV & Audio Product Area -->
	<section class="product-area li-laptop-product li-laptop-product-2 pb-45">
		<div class="container">
			<div class="row">
				<!-- Begin Li's Section Area -->
				
				<div class="col-lg-12">
					<div class="li-section-title">
						<h2>
							<span>Latest Products</span>
						</h2>
						<ul class="li-sub-category-list">
							<li class="active"><a href="shop-left-sidebar.html">Prime Video</a></li>
							<li><a href="shop-left-sidebar.html">Computers</a></li>
							<li><a href="shop-left-sidebar.html">Electronics</a></li>
						</ul>
					</div>
					<div class="li-banner-2 pt-15">
						<div class="row">
							<!-- Begin Single Banner Area -->
							<div class="col-lg-6 col-md-6">
								<div class="single-banner">
									<a href="#">
										<img src="images/banner/2_1.jpg" alt="Li's Static Banner">
									</a>
								</div>
							</div>
							<!-- Single Banner Area End Here -->
							<!-- Begin Single Banner Area -->
							<div class="col-lg-6 col-md-6">
								<div class="single-banner pt-xs-30">
									<a href="#">
										<img src="images/banner/2_2.jpg" alt="Li's Static Banner">
									</a>
								</div>
							</div>
							<!-- Single Banner Area End Here -->
						</div>
					</div>
					<div class="row">
						<div class="product-active owl-carousel">
							@foreach (var item in @Model.LatestProducts)
							{
								<div class="col-lg-12">
								<!-- single-product-wrap start -->
								<div class="single-product-wrap">
									<div class="product-image">
										<a asp-page="/Products/Detail" asp-route-id="@item.Id">
											<img src="@item.Images" alt="Li's Product Image">
										</a>
										<span class="sticker">New</span>
									</div>
									<div class="product_desc">
										<div class="product_desc_info">
											<div class="product-review">
												<h5 class="manufacturer">
													<a asp-area="" asp-page="/Products/Index" asp-route-CategoryId="@item.Category.Id">@item.Category.Name</a>
												</h5>
												<div class="rating-box">
													<ul class="rating">
														@for (int i = 0; i < @item.AverageRating; i++)
														{
															<li><i class="fa fa-star" aria-hidden="true" style="color:#FFD700"></i></li>
														}
														@for (int i = 5 - @item.AverageRating; i > 0; i--)
														{
															<li><i class="fa fa-star-o" aria-hidden="true" style="color:#FFD700"></i></li>
														}
													</ul>
												</div>
											</div>
											<h4><a class="product_name" asp-page="/Products/Detail" asp-route-id="@item.Id">@Html.DisplayFor(x=>@item.Name)</a></h4>
											<div class="price-box">
												<span class="new-price">@Html.DisplayFor(x=>@item.Price)</span>
											</div>
										</div>
										<div class="add-actions">
											<ul class="add-actions-link">
												<li class="add-cart active"><a href="#">Add to cart</a></li>
												<li><a class="links-details" href="wishlist.html"><i class="fa fa-heart-o"></i></a></li>
												<li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- single-product-wrap end -->
							</div>
							}
						</div>
					</div>
				</div>
				<!-- Li's Section Area End Here -->
			</div>
		</div>
	</section>
	
	<!-- Li's Smart Phone Product Area End Here -->
	<!-- Begin Li's Static Home Area -->
	<div class="li-static-home">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!-- Begin Li's Static Home Image Area -->
					<div class="li-static-home-image"></div>
					<!-- Li's Static Home Image Area End Here -->
				</div>
			</div>
		</div>
	</div>
	